* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(96, 157, 159);    
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 30px;
    background-color:rgb(232, 204, 195);
    border-radius: 5px 5px 0 0;
    z-index: 1000;
}

section {
    position: relative;
    z-index: 1;
    padding-top: 50px;     
}


h1, h2 {
    color: #378487;
}

h1 {
    font-size: 40px;
}

h2, h3 {
    font-size: 30px;
}


p, li {
    color:#000000;
}


.navbar a {
    color: #378487;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}


.big-container {
    width: 100%;
    margin: 0;
    padding: 0 10px 0 10px ;
    background-color:honeydew
}

.container {
    max-width: 1400px ;
    padding: 50px;
    margin: 10px;
    background-color:rgba(96, 157, 159, 0.2);
    border-radius: 5px;    
}

.container p {
    font-size: 25px;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:honeydew;
}

.home img {
    border-radius: 100%;
    width: 220px;
}

.image-circle {
    border-radius: 100%;
    border: 1px double #609d9f;
    padding: 5px;
    display: flex;
}


.about p {
    line-height: 40px;   
    padding-left: 70px; 
}

.experience div {
    padding-left:30px;
    padding-top: 10px;
    line-height: 30px;
} 

.experience-position {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} 

.experience-position a,
.projects a {
    text-decoration: none;
}


.skills-box {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 10px;    
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.projects p {
    padding-top:10px;;
    padding-left: 70px;
    line-height: 40px; 
}

.connect {
    display: flex;
    flex-direction: column;    
}

.social ul {
    display: flex;
    justify-content:center;
    gap: 50px;
    list-style: none;
}

.social img {
    filter: invert(52%) sepia(43%) saturate(600%) hue-rotate(143deg) brightness(91%) contrast(120%);
}


footer {
    width: 100%;
    padding: 20px;
    background-color:rgb(232, 204, 195);
    border-radius: 0 0 5px 5px;
}
